<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prep & Plate It</title>
    <link rel="stylesheet" href="/static/theme.css">
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="homepage-header">
        <div class="header-box">
            <img src="/static/hungry.png" alt="Prep & Plate It" class="header-image-left">
            <div class="header-title">
                <h1>Prep</h1>
                <h1>&</h1>
                <h1>Plate It</h1>
            </div>
            <img src="/static/plate.png" alt="Prep & Plate It" class="header-image-right">
        </div>
    </header>
    <main>
        <section class="intro-container">
            <div class="intro">
                <p>Welcome to <strong>Prep & Plate It</strong> – your ultimate solution for hassle-free meal planning! In today’s fast-paced world, finding time to plan and prepare delicious, nutritious meals can be challenging. That's where we come in.</p>
                <p>Our platform helps you simplify your meal planning by offering a wide variety of recipes, categorized by cuisines and meal types. Whether you're looking for a hearty breakfast, a light lunch, or a delightful dessert, we've got you covered.</p>
                <p>Explore our curated recipe collections and discover new culinary delights that fit your lifestyle and dietary preferences. Let us make meal planning fun and easy!</p>
                <div class="buttons">
                    <a href="/cuisines" class="btn">Explore Cuisines</a>
                    <a href="/meal-types" class="btn">Explore Meal Types</a>
                </div>
            </div>
        </section>
    </main>
</body>
</html>